@keyframes opacity {
  0% {
    opacity: 0;
    rotate: 0;
    border-radius: 0;
  }
  25%, 100% {
    scale: 2;
    rotate: 0;
    border-radius: 0;
  }
  50% {
    scale: 2;
    rotate: 180deg;
    border-radius: 50%;
  }
  75% {
    scale: 1;
    rotate: 180deg;
    border-radius: 50%;
  }
}

.box {
  height: 300px;
  width:300px;
  background-color: #e16971;
  animation: opacity 2s infinite ease-in-out;
}