@keyframes opacity {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    rotate: 180deg;
    opacity: 1;
  }
  75% {
    rotate: 0;
  }
  100% {
    opacity: 0;
  }
}

.box {
  height: 300px;
  width:300px;
  background-color: #e16971;
  animation: opacity 3s infinite;
}